.logo {
    padding-top: 56px;
    margin-left: 132px;
}

.logo::before {
    position: absolute;
    margin-left: -21px;
    margin-top: -3px;
    content: '';
    width: 20px;
    height: 22px;
    background: url('../icons/logo.svg');
}

.logo__text {
    font-family: 'Inika';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 21px;
    color: #000000;
}

.navigation {
    margin-top: -44px;
    margin-right: 43px;
}

.burger-icon {
    float: right;
    width: 40px;
    height: 30px;
    position: relative;
    right: 13px;
    bottom: 26px;
    cursor: pointer;
    display: none;
  }
  
  .burger-icon__line1,
  .burger-icon__line2,
  .burger-icon__line3,
  .burger-icon__line4 {
    width: 40px;
    height: 2px;
    background-color: #717171;
    position: absolute;
    transition: all 0.3s ease;
  }
  
  .burger-icon__line1 {
    top: 0;
  }
  
  .burger-icon__line2 {
    top: 8px;
  }
  
  .burger-icon__line3 {
    top: 16px;
  }

  .burger-icon__line4 {
    top: 24px;
  }
  
  .burger-icon.open .burger-icon__line1 {
   transform: rotate(45deg);
    top: 10px;
  }
  
  .burger-icon.open .burger-icon__line2 {
    opacity: 0;
  }
  
  .burger-icon.open .burger-icon__line3 {
    opacity: 0;
}  

.burger-icon.open .burger-icon__line4 {
    transform: rotate(-45deg);
    top: 10px;
  }